@page "/User/ResetPassword"

@inject ISqlDataAccess _data
@inject IConfiguration _config
@inject NavigationManager Navigationmanager

@using ChickenManager.Models
@using DataAccess
@using Radzen.Blazor;

<h3>Reset Password</h3>

<RadzenTemplateForm TItem="Models.User" Data=@user Submit=@Reset>
    <RadzenStack>
        <RadzenFormField Text="Password" Variant="@variant">
            <RadzenPassword Placeholder="Enter password" Text="Password" @bind-Value="@user.Password" Name="password" />
            <RadzenRequiredValidator Component="password" Text="Password is required" Popup="@popup" />
            <RadzenLengthValidator Component="password" Min="8" Text="Password must be at least 8 characters" Popup=@popup />
        </RadzenFormField>
        <RadzenFormField Text="Confirm Password" Variant="@variant">
            <RadzenPassword @bind-Value="@user.ConfirmPassword" Name="confirmpassword" />
            <RadzenRequiredValidator Component="confirmpassword" Text="Confirm Password is required" Popup="@popup" />
            <RadzenLengthValidator Component="confirmpassword" Min="8" Text="Confirm Password must be at least 8 characters" Popup=@popup />
            <RadzenCompareValidator Visible=@(!string.IsNullOrEmpty(user.Password)) Value=@user.Password Component="confirmpassword" Text="Passwords must match" Popup=@popup />
        </RadzenFormField>
        <RadzenButton ButtonType="ButtonType.Submit">Register User</RadzenButton>
    </RadzenStack>
</RadzenTemplateForm>
